:root {
  --navy-color: #37474f;
  --white-color: #f8f8ff;
  --coral-color: #ffccbc;
  --brown-color: #4e342e;
  --pink-color: #ec407a;
  --yellow-color: #ffd600;
}
body {
  background-color: var(--navy-color);
}
button {
  all: unset;
  cursor: pointer;
  padding: 8px;
}
.logo {
  display: flex;
  justify-content: center;
  color: wheat;
  font-size: 60px;
}
.selectlist {
  display: flex;
  justify-content: center;
  font-family: "Spline Sans", sans-serif;
}
.shape {
  font-size: 30px;
  color: var(--coral-color);
}

.color_chocolate {
  background-color: var(--brown-color);
  color: var(--white-color);
  margin-right: 8px;
  border-radius: 8%;
}
.color_strawberry {
  background-color: var(--pink-color);
  color: var(--white-color);
  margin-right: 8px;
  border-radius: 8%;
}
.color_banana {
  background-color: var(--yellow-color);
  color: var(--white-color);
  margin-right: 8px;
  border-radius: 8%;
}
.item {
  display: flex;
  align-items: center;
  border-radius: 8px;
  padding: 8px;
  background-color: var(--white-color);
  margin-top: 8px;
  font-family: "Spline Sans", sans-serif;
}
.items {
  padding-left: 0;
}
.item img {
  width: 36px;
  height: 36px;
}
.item_thumbnail {
  padding: 8px;
}
.item_description {
  padding: 8px;
}
